.task-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid #e0e0e0;
  border-radius: .5rem;
  padding: 1rem 1.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  font-size: 1rem;
  cursor: grab;
  touch-action: none;
}

.icon {
  flex-shrink: 0;
}

.check-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background-color: #e3f2fd;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.check-icon.completed {
  background-color: #0d6efd;
  color: white;
}

.task-text {
  font-size: 1.1rem;
}

.delete-icon {
  color: #fd6868;
  font-size: 1.25rem;
  padding: 0;
  text-decoration: none;
  margin-left: auto;
}

.delete-icon:hover {
  color: #d32f2f;
  cursor: pointer;
}

.task-name {
  flex-grow: 1;
  cursor: pointer;
}

.edit-input {
  height: calc(1.5em + 0.5rem + 2px) !important;
  padding: 0.25rem 0.5rem !important;
}

.save-icon {
  color: #28a745;
  cursor: pointer;
  font-size: 1.5rem;
}

.action-icon-container {
  margin-left: auto;
}
