#root {
  background: #b8d6ea;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  max-width: 400px;
  margin: auto;
  padding: 0.5rem;
}

h1 {
  margin: 0.25rem !important;
  font-size: 1.5rem !important;
  font-weight: 500 !important;
}

section {
  background: #d5e8f0;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.326);
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.5rem;
  max-height: calc(100dvh - 60px);
  overflow: auto;
}
